
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.driver-main-page-sxm {
  width: 100%;
  height: 173.7rem;

  .frame-27117-36Z {
    height: 100%;
    position: relative;
    width: 100%;

    .driver-page-npq {
      box-sizing: border-box;
      padding: 0.073rem 0rem 0.073rem 0.006rem;
      height: 173.7rem;
      position: absolute;
      top: 0;
      background: linear-gradient(180deg, #241036 26.87%, #412852 83.65%);
      width: 120rem;
      left: 0;
      overflow: hidden;

      .frame-44-WVw {
        box-sizing: border-box;
        padding-bottom: 112.4rem;
        width: 258.6938rem;
        height: 151.227rem;

        .menu-closed-e6M {
          box-sizing: border-box;
          padding: 0.627rem 5.806rem 1.023rem 1.794rem;
          overflow: hidden;
          position: relative;
          backdrop-filter: blur(5rem);
          margin-bottom: 1.36rem;
          display: flex;
          align-items: center;
          background-color: #000000;

          .logo-MFf {
            margin-right: 4.6rem;
            width: 11rem;
            height: 8.617rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .group-26918-Hf7 {
            margin: 1.134rem 9.299rem 0rem 0rem;
            width: 3.3008rem;
            height: 1.1508rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-oNZ {
            width: 2.0016rem;
            height: 1.6682rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.451rem 8.298rem 0rem 0rem;
          }
          .auto-group-vgzd-jGD {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.923rem 4.598rem 0rem 0rem;
            width: 5.0023rem;
            height: 3.3041rem;
          }
          .vector-ee5 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.684rem 8.398rem 0rem 0rem;
            width: 1.7016rem;
            height: 1.5008rem;
          }
          .vector-P5s {
            margin: 0.799rem 7.598rem 0rem 0rem;
            width: 1.8016rem;
            height: 1.6186rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icons8-car-30-2-JyX {
            width: 2.3rem;
            height: 2.0014rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.984rem 7.1rem 0rem 0rem;
          }
          .icons8-customer-support-32-2-EMP {
            margin: 0.683rem 12.2rem 0rem 0rem;
            width: 2.1rem;
            height: 2.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .hello-rider-MB7 {
            display: flex;
            font-weight: 400;
            font-family: Work Sans, 'Source Sans Pro';
            margin: 0rem 3.8rem 0.117rem 0rem;
            font-size: 2.4rem;
            line-height: 1.1725;
            color: #933dc9;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .vector-8jb {
            height: 3.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.117rem;
            width: 2.9rem;
          }
        }
        .auto-group-tcxr-rfb {
          margin-left: 5.1938rem;
          width: 253.5rem;
          height: 27.2rem;
        }
      }
    }
    .frame-80-kW5 {
      box-sizing: border-box;
      left: 6.6rem;
      background: linear-gradient(180deg, #2a1141 -0%, #492d5a 100%);
      display: flex;
      flex-direction: column;
      padding: 4.7rem 5rem 7.1rem 5.4rem;
      width: 105.6rem;
      height: 106.3rem;
      position: absolute;
      top: 61.3rem;
      align-items: center;

      .available-ride-suggestions-according-to-your-current-location-dZs {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 8.6rem;
      }
      .frame-27123-8Wd {
        margin: 0rem 4.3rem 4.7rem 0rem;
        width: 69.1rem;
        height: 9.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-27124-qvq {
        height: 9.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.1rem 4.7rem 0rem;
        width: 69.1rem;
      }
      .frame-27125-BE1 {
        margin: 0rem 4.1rem 5.7rem 0rem;
        width: 69.1rem;
        height: 9.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-27126-77f {
        margin: 0rem 4.3rem 5.5rem 0rem;
        width: 69.1rem;
        height: 9.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-27127-SQq {
        height: 9.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.3rem 6.3rem 0rem;
        width: 69.1rem;
      }
      .frame-27128-mi1 {
        flex-shrink: 0;
        margin-right: 4.3rem;
        width: 69.1rem;
        height: 9.2rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .rectangle-5-gpy {
      border-radius: 20.5rem;
      width: 24rem;
      height: 5.3rem;
      position: absolute;
      top: 26.4rem;
      background-color: rgba(9, 9, 9, 0.1000000015);
      left: 33.4rem;
      border: solid 0.1rem #933dc9;
      box-sizing: border-box;
    }
    .rectangle-5-nd7 {
      left: 89.2rem;
      background-color: rgba(9, 9, 9, 0.1000000015);
      border-radius: 20.5rem;
      width: 24rem;
      height: 5.3rem;
      position: absolute;
      top: 26.4rem;
      border: solid 0.1rem #933dc9;
      box-sizing: border-box;
    }
    .frame-27119-5s7 {
      width: 88rem;
      height: 41.1rem;
      position: absolute;
      left: 6.4rem;
      top: 14.4rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .filters-for-searching-the-rides-faster-1km {
        margin-bottom: 7.1rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-27118-vsj {
        flex-shrink: 0;
        margin-right: 8.8rem;
        width: 79.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-1oxm-Ggh {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-53-2fs {
            border-radius: 20.5rem;
            flex-shrink: 0;
            margin-right: 31.7rem;
            width: 23.5rem;
            height: 5.3rem;
            border: solid 0.1rem #933dc9;
            box-sizing: border-box;
            background-color: rgba(9, 9, 9, 0.1000000015);
          }
          .rectangle-5-jKP {
            flex-shrink: 0;
            width: 24rem;
            height: 5.3rem;
            border: solid 0.1rem #933dc9;
            box-sizing: border-box;
            background-color: rgba(9, 9, 9, 0.1000000015);
            border-radius: 20.5rem;
          }
        }
        .auto-group-aw2y-FYd {
          box-sizing: border-box;
          padding: 5.2rem 1.7rem 0rem 28.6rem;
          width: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-5-nYZ {
            border-radius: 20.5rem;
            flex-shrink: 0;
            margin: 0rem 13.8rem 5.1rem 11.1rem;
            width: calc(100% - 24.9rem);
            height: 5.3rem;
            border: solid 0.1rem #933dc9;
            box-sizing: border-box;
            background-color: rgba(9, 9, 9, 0.1000000015);
          }
          .frame-27133-63T {
            align-items: center;
            height: 8.4rem;
            font-weight: 400;
            color: #ffffff;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:1:346');
            width: 100%;
            display: flex;
            justify-content: center;
            background-position: center;
            flex-shrink: 0;
            font-size: 3.2rem;
            line-height: 1.1725;
            white-space: nowrap;
            font-family: Work Sans, 'Source Sans Pro';
            background-size: cover;
          }
        }
      }
    }
  }
}
