
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.sign-up-E1P {
  width: 100%;
  height: 71rem;
  position: relative;

  .sign-up-yUm {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 120rem;
    height: 71rem;
  }
  .frame-42-vQ1 {
    box-sizing: border-box;
    padding: 11.6rem 8.35rem 7.8rem 7.85rem;
    left: 12.25rem;
    top: 8.1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:1:59');
    width: 47.7rem;
    height: 48.6rem;
    position: absolute;
    background-position: center;

    .item-3636253-1-Dtu {
      vertical-align: top;
      border-radius: 14.6rem;
      width: 31.5rem;
      height: 29.2rem;
      object-fit: cover;
    }
  }
  .frame-4-iam {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 36.5rem;
    height: 62.4rem;
    position: absolute;
    left: 71.5rem;
    top: 4.1rem;

    .auto-group-fekz-rBB {
      box-sizing: border-box;
      padding-bottom: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-43-mow {
        margin: 0rem 6rem 1.6rem 2.7rem;
        box-sizing: border-box;
        padding: 2rem 0.1rem;
        width: calc(100% - 8.7rem);
        height: 5.8rem;
        background-color: #53118f;
        border-radius: 21.2rem;
        flex-shrink: 0;

        .frame-27021-gg1 {
          width: 24.7rem;
          height: 100%;
          display: flex;
          align-items: center;

          .as-a-rider-p1X {
            color: #ffffff;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.7rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .as-a-driver-jPP {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Work Sans, 'Source Sans Pro';
          }
        }
      }
      .create-your-account-riu {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2.4rem 0.1rem;
      }
      .frame-5-ZdK {
        box-sizing: border-box;
        padding: 1.3rem 17.5rem 1.4rem 2.5rem;
        width: calc(100% - 1.5rem);
        align-items: center;
        background-color: rgba(9, 9, 9, 0.1000000015);
        border-radius: 1.4rem;
        margin: 0rem 1.4rem 3.1rem 0.1rem;
        display: flex;
        border: solid 0.1rem #933dc9;
        flex-shrink: 0;

        .vector-4KB {
          flex-shrink: 0;
          margin-right: 2.8rem;
          width: 3.4rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .mr-random-PMT {
          color: #ffffff;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.1725;
        }
      }
      .frame-1-gbT {
        border-radius: 1.4rem;
        flex-shrink: 0;
        margin: 0rem 1.5rem 3.2rem 0rem;
        box-sizing: border-box;
        width: calc(100% - 1.5rem);
        border: solid 0.1rem #933dc9;
        background-color: rgba(9, 9, 9, 0.1000000015);
        padding: 1.1rem 10.8rem 1.1rem 2.3rem;
        display: flex;
        align-items: center;

        .vector-nuP {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 3.9rem;
          height: 3.1rem;
          object-fit: contain;
        }
        .exampledomaincom-wXP {
          line-height: 1.1729999542;
          font-family: Work Sans, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 500;
          color: #ffffff;
          white-space: nowrap;

          .exampledomaincom-wXP-sub-0 {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .exampledomaincom-wXP-sub-1 {
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #ffffff;
          }
        }
      }
      .frame-2-Tu3 {
        margin-bottom: 3.4rem;
        width: 35rem;
        height: 5.2rem;
        position: relative;
        flex-shrink: 0;

        .show-oT7 {
          width: 3.9rem;
          height: 1.8rem;
          left: 29rem;
          color: #ffffff;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 1.6rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.1725;
        }
        .item--um3 {
          width: 3.3rem;
          display: flex;
          font-size: 1.5rem;
          font-weight: 500;
          white-space: nowrap;
          height: 1.8rem;
          position: absolute;
          left: 7.3rem;
          top: 1.2rem;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Work Sans, 'Source Sans Pro';
        }
        .vector-cfT {
          height: 1.9rem;
          position: absolute;
          left: 2.1rem;
          top: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.4rem;
        }
        .rectangle-3-ABB {
          box-sizing: border-box;
          background-color: rgba(9, 9, 9, 0.1000000015);
          border-radius: 1.4rem;
          width: 35rem;
          height: 5.2rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #933dc9;
        }
      }
      .frame-6-Gk1 {
        align-items: center;
        background-color: rgba(9, 9, 9, 0.1000000015);
        border-radius: 1.4rem;
        flex-shrink: 0;
        margin: 0rem 1.6rem 2rem 0rem;
        box-sizing: border-box;
        width: calc(100% - 1.6rem);
        padding: 1.4rem 19.6rem 1.5rem 2.2rem;
        display: flex;
        border: solid 0.1rem #933dc9;

        .icons8-phone-50-1-1-No3 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2rem;
          width: 2.8rem;
          height: 2.7rem;
          object-fit: cover;
        }
        .xxxxxxxxxxx-iM7 {
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.1rem;
          line-height: 1.1725;
          font-weight: 500;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          font-size: 1.5rem;
        }
      }
      .auto-group-4dkf-otM {
        width: calc(100% - 3.5rem);
        height: 4.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0rem 1.2rem;

        .checkbox-7e9 {
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;
          margin-right: 2.4rem;
          box-sizing: border-box;
          padding: 0.0447rem 0.0446rem;
          width: 4.3rem;

          .rectangle-e8H {
            width: 4rem;
            height: 4rem;
            border: solid 0.2rem #ffffff;
            box-sizing: border-box;
            border-radius: 0.9rem;
          }
        }
        .i-agree-to-the-terms-conditions-xuf {
          white-space: nowrap;
          align-items: baseline;
          font-weight: 400;
          line-height: 1.1729999781;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 1.6rem;
          font-family: Work Sans, 'Source Sans Pro';

          .i-agree-to-the-terms-conditions-xuf-sub-0 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .i-agree-to-the-terms-conditions-xuf-sub-1 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #933dc9;
            font-family: Work Sans, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-rkfb-3pd {
      width: 100%;
      line-height: 1.1725;
      justify-content: center;
      border: solid 0.1rem #933dc9;
      border-radius: 1.4rem;
      height: 5.8rem;
      box-sizing: border-box;
      background-color: #933dc9;
      margin-bottom: 1.6rem;
      color: #ffffff;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .already-have-an-account-sign-in-iQy {
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.1729999781;
      font-family: Work Sans, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      margin-right: 1.4rem;
      text-align: center;
      font-size: 1.6rem;

      .already-have-an-account-sign-in-iQy-sub-0 {
        line-height: 1.1725;
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .already-have-an-account-sign-in-iQy-sub-1 {
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #933dc9;
      }
    }
  }
}
