
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.starting-page-TB7 {
  box-sizing: border-box;
  padding: 19.9rem 42.8rem 19.8rem 42.8rem;
  width: 100%;
  height: 66.2rem;
  overflow: hidden;
  position: relative;
  background-color: #000000;

  .frame-aWd {
    overflow: hidden;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:6093e1ffc5526faa897a8c1320f940d12a9f3b35');
    width: 100%;
    height: 100%;
  }
}
