
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}

.design{
  background-color: rgb(39 16 59);
  color: white;
  position: relative;
  bottom: 2px;
  font-size: 22px;
  width: 73rem;
  border-color: rgb(39 16 59) ;
  
}

.frequency{
  background-color: rgb(39 16 59);
  color: white;
  position: relative;
  bottom: 2px;
  font-size: 22px;
  width: 73rem;
  border-color: rgb(39 16 59) ;
  margin-top: 6px;
}


input::placeholder{
  color: rgb(255, 255, 255) !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.rideClick{
  color: #d151ff !important;
  font-weight: 400 !important;
  font-size: 2.4rem !important ;
  font-family: Work Sans, 'Source Sans Pro' !important ;
  
}

.deliveryClick{
  color: #d151ff !important;
  font-weight: 400 !important;
  font-size: 2.4rem !important ;
  font-family: Work Sans, 'Source Sans Pro' !important ;
}


ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.rider-page-default-v7j {
  box-sizing: border-box;
  padding: 0.073rem 0rem 0.073rem 0.006rem;
  width: 153rem;
  height: 160.8rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #241036 26.87%, #412852 83.65%);
}
.rider-page-default-v7j .frame-44-5uj {
  width: 100%;
  height: 151.227rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 {
  margin-bottom: 1.36rem;
  box-sizing: border-box;
  padding: 0.627rem 5.806rem 1.023rem 1.794rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5rem);
  background-color: #000000;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .logo-SXK {
  margin-right: 4.6rem;
  width: 11rem;
  height: 8.617rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .group-26918-jmK {
  margin: 1.134rem 9.299rem 0rem 0rem;
  width: 3.3008rem;
  height: 1.1508rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .vector-pXs {
  margin: 0.451rem 8.298rem 0rem 0rem;
  width: 2.0016rem;
  height: 1.6682rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .auto-group-7pbw-7ms {
  margin: 0.923rem 4.598rem 0rem 0rem;
  width: 5.0023rem;
  height: 3.3041rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .vector-PzH {
  margin: 0.684rem 8.398rem 0rem 0rem;
  width: 1.7016rem;
  height: 1.5008rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .vector-iFs {
  margin: 0.799rem 7.598rem 0rem 0rem;
  width: 1.8016rem;
  height: 1.6186rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .icons8-car-30-2-33F {
  margin: 0.984rem 7.1rem 0rem 0rem;
  width: 2.3rem;
  height: 2.0014rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .icons8-customer-support-32-2-wPX {
  margin: 0.683rem 12.2rem 0rem 0rem;
  width: 2.1rem;
  height: 2.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .hello-rider-EtR {
  margin: 0rem 3.6rem 0.117rem 33rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #933dc9;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .menu-closed-xs3 .vector-tCH {
  margin-bottom: 0.117rem;
  width: 2.9rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .auto-group-urkf-YGq {
  margin: 0rem 56.113rem 7.5rem 0rem;
  width: 82.5rem;
  height: 27.2rem;
  position: relative;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .auto-group-urkf-YGq .animation500ljflc8nv-1-eqf {
  width: 26.8rem;
  height: 27.2rem;
  position: absolute;
  left: 4.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.rider-page-default-v7j .frame-44-5uj .auto-group-urkf-YGq .get-lost-in-your-gig-because-transitscape-will-never-let-you-lose-on-your-journey-Zxd {
  width: 87.5rem;
  height: 22.6rem;
  position: absolute;
  left: 0;
  top: 3.7rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.1729999781;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
}
.rider-page-default-v7j .frame-44-5uj .auto-group-urkf-YGq .get-lost-in-your-gig-because-transitscape-will-never-let-you-lose-on-your-journey-Zxd .get-lost-in-your-gig-because-transitscape-will-never-let-you-lose-on-your-journey-Zxd-sub-0 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
}
.rider-page-default-v7j .frame-44-5uj .auto-group-urkf-YGq .get-lost-in-your-gig-because-transitscape-will-never-let-you-lose-on-your-journey-Zxd .get-lost-in-your-gig-because-transitscape-will-never-let-you-lose-on-your-journey-Zxd-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #b002ef;
  font-family: Work Sans, 'Source Sans Pro';
}
.rider-page-default-v7j .frame-44-5uj .auto-group-urkf-YGq .get-lost-in-your-gig-because-transitscape-will-never-let-you-lose-on-your-journey-Zxd .get-lost-in-your-gig-because-transitscape-will-never-let-you-lose-on-your-journey-Zxd-sub-2 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
}
.rider-page-default-v7j .frame-44-5uj .frame-56-gho {
  margin: 0rem 23.706rem 2.9rem 21.094rem;
  box-sizing: border-box;
  padding: 0rem 5.4rem 0rem 8rem;
  width: calc(100% - 77.8rem);
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 29.6rem;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-56-gho .auto-group-kwqj-mUM {
  margin: 3.8rem 7rem 0rem 0rem;
  height: 6.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  bottom: 14px;
  position: relative;
  background-color: black;
  outline: none;
  border-style: none;
}
.rider-page-default-v7j .frame-44-5uj .frame-56-gho .line-14-TMB {
  margin-right: 5.6rem;
  width: 0.1rem;
  height: 11.4rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-56-gho .schedule-a-delivery-neM {
  margin-top: 1.28rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  background-color: black;
  border-style: none;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq {
  margin: 0rem 28.006rem 0rem 24.794rem;
  box-sizing: border-box;
  padding: 3.8rem 11.7rem 5.7rem 10.2rem;
  width: calc(100% - 52.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #2a1141;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .frame-29-Auo {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 1.5rem 2.4rem 0.8rem 2.4rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #933dc9;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .frame-50-Qp9 {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 1.2rem 2.6rem 1.1rem 2.6rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #933dc9;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .frame-51-tDX {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 1.3rem 2.6rem 1rem 2.6rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #933dc9;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .frame-52-YYy {
  margin-bottom: 4.6rem;
  box-sizing: border-box;
  padding: 1.1rem 2.7rem 1.2rem 2.7rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #933dc9;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .frame-53-1hT {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 1.2rem 2.5rem 1.1rem 2.5rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #933dc9;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .frame-54-g2u {
  margin-bottom: 4.6rem;
  box-sizing: border-box;
  padding: 1.3rem 2.3rem 1rem 2.3rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #933dc9;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .auto-group-ppmo-YL1 {
  margin: 0rem -22.2rem 6.2rem 9.8rem;
  width: calc(100% - 20.6rem);
  height: 5.2rem;
  position: relative;
  flex-shrink: 0;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .auto-group-ppmo-YL1 .frequency-of-the-ride-Ths {
  width: 16.9rem;
  height: 1.9rem;
  position: absolute;
  left: 3.9rem;
  top: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .auto-group-ppmo-YL1 .rectangle-3-MYM {
  width: 24.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #933dc9;
  box-sizing: border-box;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 20.5rem;
}
.rider-page-default-v7j .frame-44-5uj .frame-49-gUq .auto-group-cyyh-rk1 {
  margin: 0rem 12.4rem 0rem -7.6rem;
  width: calc(100% -  -18.3rem);
  height: 5.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #191a15;
  box-sizing: border-box;
  background-color: #0e1212;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
