
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.high-priority-rides-YPs {
  width: 100%;
  height: 173.7rem;
}
.high-priority-rides-YPs .frame-27117-Gqf {
  width: 100%;
  height: 100%;
  position: relative;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB {
  box-sizing: border-box;
  padding: 0.073rem 0rem 0.073rem 0.006rem;
  width: 120rem;
  height: 173.7rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #241036 26.87%, #412852 83.65%);
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m {
  box-sizing: border-box;
  padding-bottom: 112.4rem;
  width: 258.6938rem;
  height: 151.2268rem;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu {
  margin-bottom: 1.3599rem;
  box-sizing: border-box;
  padding: 0.627rem 5.806rem 1.023rem 1.794rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5rem);
  background-color: #000000;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .logo-yNh {
  margin-right: 4.6rem;
  width: 11rem;
  height: 8.6168rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .group-26918-Vrq {
  margin: 1.134rem 9.299rem 0rem 0rem;
  width: 3.3008rem;
  height: 1.1507rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .vector-Dnq {
  margin: 0.451rem 8.298rem 0rem 0rem;
  width: 2.0016rem;
  height: 1.6684rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .auto-group-e5yj-9Rb {
  margin: 0.923rem 4.598rem 0rem 0rem;
  width: 5.0023rem;
  height: 3.304rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .vector-5KF {
  margin: 0.684rem 8.399rem 0rem 0rem;
  width: 1.7015rem;
  height: 1.5006rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .vector-QMX {
  margin: 0.799rem 7.598rem 0rem 0rem;
  width: 1.8016rem;
  height: 1.6186rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .icons8-car-30-2-kAV {
  margin: 0.984rem 7.1rem 0rem 0rem;
  width: 2.3rem;
  height: 2.0015rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .icons8-customer-support-32-2-GPj {
  margin: 0.683rem 12.2rem 0rem 0rem;
  width: 2.1rem;
  height: 2.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .hello-rider-n7B {
  margin: 0rem 3.8rem 0.117rem 0rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #933dc9;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .menu-closed-fcu .vector-gyF {
  margin-bottom: 0.117rem;
  width: 2.9rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .driver-page-psB .frame-44-98m .auto-group-hux1-DCV {
  margin-left: 5.1938rem;
  width: 253.5rem;
  height: 27.2rem;
}
.high-priority-rides-YPs .frame-27117-Gqf .icons8-emergency-48-1-6n5 {
  width: 2rem;
  height: 2.4rem;
  position: absolute;
  left: 87.6rem;
  top: 4.1rem;
  object-fit: cover;
  vertical-align: top;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-27118-Dbo {
  width: 82.8rem;
  height: 26.4rem;
  position: absolute;
  left: 17.3rem;
  top: 26.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-27118-Dbo .auto-group-tiwu-wXo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-27118-Dbo .auto-group-tiwu-wXo .rectangle-53-VpD {
  margin-right: 6.2rem;
  width: 23.5rem;
  height: 5.3rem;
  border: solid 0.1rem #933dc9;
  box-sizing: border-box;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 20.5rem;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-27118-Dbo .auto-group-tiwu-wXo .rectangle-5-Cid {
  margin-right: 5.1rem;
  width: 24rem;
  height: 5.3rem;
  border: solid 0.1rem #933dc9;
  box-sizing: border-box;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 20.5rem;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-27118-Dbo .auto-group-tiwu-wXo .rectangle-5-ved {
  width: 24rem;
  height: 5.3rem;
  border: solid 0.1rem #933dc9;
  box-sizing: border-box;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 20.5rem;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-27118-Dbo .auto-group-trar-TPf {
  box-sizing: border-box;
  padding: 4.3rem 16.6rem 0rem 17.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-27118-Dbo .auto-group-trar-TPf .rectangle-5-yso {
  margin: 0rem 12.5rem 3.1rem 12.4rem;
  width: calc(100% - 24.9rem);
  height: 5.3rem;
  border: solid 0.1rem #933dc9;
  box-sizing: border-box;
  background-color: rgba(9, 9, 9, 0.1000000015);
  border-radius: 20.5rem;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-27118-Dbo .auto-group-trar-TPf .frame-27133-siH {
  width: 100%;
  height: 8.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-45-nss.png');
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .filters-for-searching-the-rides-faster-wi9 {
  width: 70.9rem;
  height: 4.7rem;
  position: absolute;
  left: 22.1rem;
  top: 14.7rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-80-D9s {
  box-sizing: border-box;
  padding: 5.6rem 5.6rem 6.2rem 4.8rem;
  width: 105.6rem;
  height: 106.3rem;
  position: absolute;
  left: 7.7rem;
  top: 60.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #2a1141 -0%, #492d5a 100%);
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-80-D9s .available-ride-suggestions-according-to-your-current-location-UrV {
  margin-bottom: 8.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-80-D9s .frame-27123-n6V {
  margin: 0rem 4.3rem 4.7rem 0rem;
  width: 69.1rem;
  height: 9.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-80-D9s .frame-27124-JKj {
  margin: 0rem 4.1rem 4.7rem 0rem;
  width: 69.1rem;
  height: 9.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-80-D9s .frame-27125-pos {
  margin: 0rem 4.1rem 5.7rem 0rem;
  width: 69.1rem;
  height: 9.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-80-D9s .frame-27126-kBj {
  margin: 0rem 4.3rem 5.5rem 0rem;
  width: 69.1rem;
  height: 9.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-80-D9s .frame-27127-Tbw {
  margin: 0rem 4.3rem 6.3rem 0rem;
  width: 69.1rem;
  height: 9.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.high-priority-rides-YPs .frame-27117-Gqf .frame-80-D9s .frame-27128-bCM {
  margin-right: 5.3rem;
  width: 69.1rem;
  height: 9.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
